<!DOCTYPE html>

@{
    var jTableStyle = "metro/lightgray/jtable.css";
    if (!string.IsNullOrEmpty(Request["jTableStyle"]))
    {
        jTableStyle = Request["jTableStyle"];
    }
}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Literacy Pro Read</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

       <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
            @*
         *@


     <link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/Content/highlight.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/megafish.css")" rel="stylesheet" type="text/css" />
         <link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/superfish-navbar.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/superfish-vertical.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/superfish.css")" rel="stylesheet" type="text/css" />

       @Styles.Render("~/Content/css")  @* take thiis out will give correct jTable UI and tabs, but no OUTER template and NO superfish *@
       @Styles.Render("~/Content/themes/base/css")  @*  for Tabs??? *@

        @*
            bundles.Add(new StyleBundle("~/Content/themes/base/css").Include(
                        "~/Content/themes/base/jquery.ui.core.css",
                        "~/Content/themes/base/jquery.ui.resizable.css",
                        "~/Content/themes/base/jquery.ui.selectable.css",
                        "~/Content/themes/base/jquery.ui.accordion.css",
                        "~/Content/themes/base/jquery.ui.autocomplete.css",
                        "~/Content/themes/base/jquery.ui.button.css",
                        "~/Content/themes/base/jquery.ui.dialog.css",
                        "~/Content/themes/base/jquery.ui.slider.css",
                        "~/Content/themes/base/jquery.ui.tabs.css",
                        "~/Content/themes/base/jquery.ui.datepicker.css",
                        "~/Content/themes/base/jquery.ui.progressbar.css",
                        "~/Content/themes/base/jquery.ui.theme.css",
                     "~/Scripts/appjs/student-general.partialview.js"));
*@

        @* jTable *@

        @*
       <link href="@Url.Content("~/Content/themes/metroblue/jquery-ui.css")" rel="stylesheet" type="text/css" />
         *@
        <link href="@Url.Content("~/Content/highlight.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Scripts/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Scripts/syntaxhighligher/styles/shCore.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Scripts/syntaxhighligher/styles/shThemeDefault.css")" rel="stylesheet" type="text/css" />


       @*
        @RenderSection("CssImport", false)
        *@
    <style>
        .child-opener-image
        {
            cursor: pointer;
        }
        .child-opener-image-column
        {
            text-align: center;
        }
        .jtable-dialog-form
        {
            min-width: 220px;
        }
        .jtable-dialog-form input[type="text"]
        {
            min-width: 200px;
        }
    </style>

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/literacy")



    @*
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    *@
        <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.min.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/syntaxhighligher/shCore.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/syntaxhighligher/shBrushJScript.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/syntaxhighligher/shBrushXml.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/syntaxhighligher/shBrushCSharp.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/syntaxhighligher/shBrushSql.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/jtablesite.js")" type="text/javascript"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")"></script>
    
        @RenderSection("JavascriptImport", false)    
        @* end jTable *@




    @*
    <link rel="stylesheet" type="text/css" href="/superfish/css/superfish.css" media="screen" />
    <script type="text/javascript" src="/superfish/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/superfish/js/superfish.js"></script>
    *@
    <link href="@Url.Content("~/Content/superfish.css")" rel="stylesheet" type="text/css"  media="screen"/>
    <script src="@Url.Content("~/Scripts/hoverIntent.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/superfish.js")" type="text/javascript"></script>


    <script type="text/javascript">
 
        // initialise plugins
        jQuery(function () {
            jQuery('ul.sf-menu').superfish();
        });
 
    </script>

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/logo.png" alt="" /> 
                </div>
                <div class="float-right">
                    <nav>

        <ul class="sf-menu">
            <li class="current"><a href="#a">Forms</a>
                <ul>
                    <li>
                        @*
                        <a href="#aa">Students</a> 
                        *@
                        @Html.ActionLink("Students", "Index", "Student")
                    </li>
                    <li>@Html.ActionLink("Tutors", "Index", "Tutor")</a> </li>

                    @*
                    <li class="current"><a href="#ab">menu item</a>
                        <ul>
                            <li class="current"><a href="#">menu item</a></li>
                            <li><a href="#aba">menu item</a></li>
                        </ul>
                    </li>
                    <li><a href="#">menu item</a>
                        <ul>
                            <li><a href="#">menu item</a></li>
                            <li><a href="#">menu item</a></li>
                            <li><a href="#">menu item</a></li>
                        </ul>
                    </li>
                    *@
                </ul>
            </li>

                @*
            <li>
                @Html.ActionLink("Home", "Index", "Home")
                <a href="#">menu item</a> 
            </li>
                *@

            <li><a href="#">Reports</a>
                <ul>
                    <li>
                        @Html.ActionLink("CLLS", "Reports", "Home")
                    </li>
                </ul>
            </li>
            @*
            <li><a href="#">menu item</a> </li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            *@
        </ul>

                        @*
                        <ul class="sf-menu">
                            <li class="current">@Html.ActionLink("Forms", "Forms", "Home")</li>
                                <ul>
                                    <li>@Html.ActionLink("Students", "Edit", "Student")</li>

                                </ul>
                            <li>@Html.ActionLink("Reports", "Reports", "Home")</li>
                        </ul>
                        *@
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Alameda County Library</p>
                </div>
            </div>
        </footer>

        @*
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")        @ * for Tabs * @

        @Scripts.Render("~/bundles/literacy")
        *@
        @RenderSection("scripts", required: false)
    </body>
</html>
