@*
﻿@model IPagedList<RestaurantListViewModel>
﻿@model LitProRead.Models.Student
*@

@model LitProRead.ViewModels.StudentFormViewModel
<div id="Student-Assessment">
<table>
    <colgroup>
            <col style="width:20%;"/>
            <col style="width:80%;"/>
    </colgroup>
    @*
    *@
    <tr>
        <td style="background-color:red"></td>
        <td style="background-color:yellow"></td>
    </tr>

    <tr>
        <td>
            @Html.Label("Intake Date")
        </td>
        <td>
            @Html.TextBoxFor(m => m.CurrentStudent.IntakeDate, "{0:MM/dd/yyyy}", new { @class = "datefield", style = "width:7em" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Assess Intel")
        </td>
        <td>
            @Html.TextBoxFor(m => m.CurrentStudent.AssessIntel)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Level")
        </td>
        <td>
            @Html.DropDownListFor(m => Model.CurrentStudent.StudentContact, Model.StudentContactList, string.Empty, new { style="width:100%" })  
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <fieldset style="border: solid; border-width:1px">
                <legend style="display: block">Goals</legend>

                    <table>
                        <colgroup>
                                <col style="width:20%;"/>
                                <col style="width:80%;"/>
                        </colgroup>
     <tr>
        <td style="background-color:red"></td>
        <td style="background-color:yellow"></td>
    </tr>
                       <tr>
                            <td>
                                @Html.Label("Life Long Learner")
                            </td>
                            <td>
                                @Html.DropDownListFor(m => Model.CurrentStudent.StudentContact, Model.StudentContactList, string.Empty, new { style="width:100%" })  
                            </td>
                        </tr>
                    </table>

                </fieldset>
        </td>
    </tr>

    <tr><td><br /></td></tr>

</table>

</div>
