@model LitProRead.ViewModels.ReportsViewModel

    <table>
           <colgroup>
               <col style="width:35%;"/>
                <col style="width:12%;"/>
                <col style="width:13%;"/>
                <col style="width:40%;"/>
            </colgroup>

         <tr>
            <td style="text-align:left">
                <span>Reports</span>
            </td>
            <td style="text-align:left">
                @Html.Label("Start Date", new { id = "StudentReportsViewStartDateRangeLabel", style="text-align:left; display: none" })
                @Html.Label("Choose Month", new { id = "ChooseMonthLabel", style="text-align:left; display: none" })
            </td>
            <td style="text-align:left">
                @Html.Label("End Date", new { id = "StudentReportsViewEndDateRangeLabel", style="text-align:left; display: none" })
                @Html.Label("Choose Status", new { id = "ChooseStatusLabel", style="text-align:left; display: none" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.DropDownListFor(m => Model.SelectedStudentsReport, Model.StudentsReport, string.Empty)
           </td>
            <td style="text-align:center">
                @Html.TextBox("StudentReportsStartDate", null, "{0:MM/dd/yyyy}", new { @class = "datefield", style = "display: none; width:7em" })
                @Html.DropDownList("ChosenMonthList", Model.ChosenMonthList, new { style="width:100%; display: none;" })  
            </td>
            <td style="text-align:center">
                @Html.TextBox("StudentReportsEndDate", null, "{0:MM/dd/yyyy}", new { @class = "datefield", style = "display: none; width:7em" })
                @Html.DropDownList("ChosenStatusList", Model.ChosenStatusList, string.Empty, new { style="width:100%; display: none;" })  
            </td>
            <td style="text-align:center">
                <button type="button" id="runStudentsReports" style="display: none">Run</button>
            </td>
        </tr>

        <tr>
            <td colspan="1">
            </td>
            <td>
                @Html.Label("Status", new { id = "StatusLabel", style="text-align:left; display: none" })
            </td>
        </tr>

        <tr>
            <td colspan="1">
            </td>
            <td style="text-align:center">
                @Html.DropDownList("StatusList", Model.ChosenStatusList, string.Empty, new { style="width:100%; display: none;" })  
            </td>
        </tr>
    </table>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datefield").datepicker();
        });
    </script>

    <script type="text/javascript">
        $("#SelectedStudentsReport").change(function () {

            var selectedStudentReport = $("#SelectedStudentsReport").val();

            //alert(selectedStudentReport);
            if (selectedStudentReport == '') 
            {
                document.getElementById("runStudentsReports").style.display = "none";
            }
            else
            {
                document.getElementById("runStudentsReports").style.display = "block";
            }

            document.getElementById("StatusLabel").style.display = "none";
            document.getElementById("StatusList").style.display = "none";

            if (selectedStudentReport == 'StudentBday') {
                document.getElementById("ChosenMonthList").style.display = "block";
                document.getElementById("ChosenStatusList").style.display = "block";
                document.getElementById("ChooseMonthLabel").style.display = "block";
                document.getElementById("ChooseStatusLabel").style.display = "block";
            }
            else {
                document.getElementById("ChosenMonthList").style.display = "none";
                document.getElementById("ChosenStatusList").style.display = "none";
                document.getElementById("ChooseMonthLabel").style.display = "none";
                document.getElementById("ChooseStatusLabel").style.display = "none";
            }

            if (selectedStudentReport == 'StudentAccomplishmentsByActiveDateGreaterThan1Year' ||
                selectedStudentReport == 'StudentsActiveDateMoreThan1YearWithHoursMet' ||
                selectedStudentReport == 'StudentsMatchHistorybyDateRange' ||
                selectedStudentReport == 'StudentStatusHistory' ||
                selectedStudentReport == 'StudentStats' ||
                //selectedStudentReport == 'StudentsComputerLab' ||
                selectedStudentReport == 'StudentWaitTime')
            {
                document.getElementById("StudentReportsViewStartDateRangeLabel").style.display = "block";
                document.getElementById("StudentReportsViewEndDateRangeLabel").style.display = "block";
                document.getElementById("StudentReportsStartDate").style.display = "block";
                document.getElementById("StudentReportsEndDate").style.display = "block";

                if (selectedStudentReport == 'StudentStats') {
                    document.getElementById("StatusLabel").style.display = "block";
                    document.getElementById("StatusList").style.display = "block";
                }
            }
            else {
                document.getElementById("StudentReportsViewStartDateRangeLabel").style.display = "none";
                document.getElementById("StudentReportsViewEndDateRangeLabel").style.display = "none";
                document.getElementById("StudentReportsStartDate").style.display = "none";
                document.getElementById("StudentReportsEndDate").style.display = "none";

                if (selectedStudentReport == 'StudentStats') {
                }
            }
        });

        $('#runStudentsReports').click(function (value) {
            //var selectedStudentReport = $("#SelectedStudentsReport").val();
            var reportType = "EXCEL";
            var reportName = $("#SelectedStudentsReport").val();
            //var studentId = 0;

            var url = '@Url.Action( "destURL", "Reports", new { paramsVal = "_paramsVal_" })';
            if (reportName == 'StudentBday') {
                var month = $("#ChosenMonthList").val();
                var status = $("#ChosenStatusList").val();
                //url = ' Url.Action( "StudentBday", "Reports", new {reportType="PDF", chosenMonth=$("#ChosenMonthList").val(), chosenStatus=$("#ChosenStatusList").val()})';        //{ paramsVal = "_paramsVal_" })';
                url = url.replace("destURL", reportName);
                url = url.replace("_paramsVal_", "reportType=" + reportType + '!' + "chosenMonth=" + $("#ChosenMonthList").val() + '!' + "chosenStatus=" + $("#ChosenStatusList").val());
            }
            else 
            if (reportName == 'StudentStats') {
                var beginDate = $("#StudentReportsStartDate").val();
                var endDate = $("#StudentReportsEndDate").val();
                var status = $("#StatusList").val();
                url = url.replace("destURL", reportName);
                url = url.replace("_paramsVal_", "reportType=" + reportType + '!' + "beginDate=" + beginDate + '!' + "endDate=" + endDate + '!' + "status=" + status);
            }
            else {
                var beginDate = $("#StudentReportsStartDate").val();
                var endDate = $("#StudentReportsEndDate").val();
                url = url.replace("destURL", reportName);
                url = url.replace("_paramsVal_", "reportType=" + reportType + '!' + "reportName=" + reportName + '!' + "beginDate=" + beginDate + '!' + "endDate=" + endDate);
            }

            //alert(url);

            window.open(url, '_blank'); // <- This is what makes it open in a new window.
            return false;
        });
    </script>
 }
  
    
    
    
    
    
    
    
    @* ====================================================
    
            <tr>        
                <td style="text-align:left">@Html.Label("Reports")</td>
                <td >
                    @Html.DropDownList("ReportStudents", new SelectList(Model.ReportStudents), string.Empty)
                </td>
                <td >
                     <button type="button" id="RunReportLink_Students" style="display: none;" >Run</button>
                </td>
            </tr>
        </table>

       <table style="border:0 none; table-layout: fixed; border-collapse: separate">
            <colgroup>
                    <col style="width:2%;"/>
                    <col style="width:2%;"/>
                    <col style="width:17%;"/>
                    <col style="width:5%;"/>
                    <col style="width:67%;"/>
            </colgroup>
           <tr>
                <td colspan="1"></td>
                <td colspan="4">
                    @Html.Label("Enter date range (leave blank for all)", htmlAttributes: new { id = "StudentReportsDateRangeLabel", style="display: none;" })
                </td>
           </tr>
           <tr>
                <td colspan="2"></td>
                <td style="text-align:right" colspan="1">
                    @Html.Label("Begin", htmlAttributes: new { id = "StudentReportsBeginDateLabel", style="display: none;" })
                </td>
                <td >
                    @Html.TextBox("StudentReportsBeginDate", null, htmlAttributes: new {type="date", style="display: none; width:10em" })
                </td>
           </tr>
           <tr>
                <td colspan="2"></td>
                <td style="text-align:right" colspan="1">
                    @Html.Label("End", htmlAttributes: new { id = "StudentReportsEndDateLabel", style="display: none;" })
                </td>
                <td >
                    @Html.TextBox("StudentReportsEndDate", null, htmlAttributes: new {type="date", style="display: none; width:10em" })
                </td>
           </tr>

           <tr>
                <td colspan="2"></td>
                <td style="text-align:right" colspan="1">
                    @Html.Label("Choose Status", htmlAttributes: new { id = "StudentReportsChooseStatusLabel", style="display: none;" })&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td >
                    @Html.DropDownList("ReportStudentsStatus", new SelectList(Model.ReportStudentsStatus), string.Empty, htmlAttributes: new { style="display: none" })
                </td>
           </tr>
        </table>

        @ *
        @Html.Hidden("selectedReport")
        @Html.ActionLink("Run", "Run", "Reports", new { reportType = "PDF", id="RunReportLink" }, null)
        * @
        <br />

}


@section scripts
{

    <script language="javascript" type="text/javascript">
        $("#StudentReports").change(function () {
            //alert(value);
            var selectedStudentReport = $("#StudentReports").val();

            if (selectedStudentReport == '') 
            {
                document.getElementById("RunReportLink_Students").style.display = "none";
            }
            else
            {
                document.getElementById("RunReportLink_Students").style.display = "block";
            }

            if (selectedStudentReport == 'StudentStatusHistory' || selectedStudentReport == 'StudentWaitTime') {
                document.getElementById("StudentReportsDateRangeLabel").style.display = "block";
                document.getElementById("StudentReportsBeginDateLabel").style.display = "block";
                document.getElementById("StudentReportsBeginDate").style.display = "block";
                document.getElementById("StudentReportsEndDateLabel").style.display = "block";
                document.getElementById("StudentReportsEndDate").style.display = "block";
                document.getElementById("StudentReportsChooseStatusLabel").style.display = "block";
                document.getElementById("StudentReportsStatus").style.display = "block";
            }
            else {
                document.getElementById("StudentReportsDateRangeLabel").style.display = "none";
                document.getElementById("StudentReportsBeginDateLabel").style.display = "none";
                document.getElementById("StudentReportsBeginDate").style.display = "none";
                document.getElementById("StudentReportsEndDateLabel").style.display = "none";
                document.getElementById("StudentReportsEndDate").style.display = "none";
                document.getElementById("StudentReportsChooseStatusLabel").style.display = "none";
                document.getElementById("StudentReportsStatus").style.display = "none";
            }
        });
    </script>

    <!-- Students -->
    <script type="text/javascript">
        $('#RunReportLink_Students').click(function (value) {
            var reportType = "PDF";
            var reportName = $("#StudentReports").val();
            var beginDate = $("#StudentReportsBeginDate").val();
            var endDate = $("#StudentReportsEndDate").val();
            var statusType = $("#StudentReportsStatus").val();

            var url = '@Url.Action("Run", "Reports", new { paramsVal = "_paramsVal_" })';
            url = url.replace("_paramsVal_", "reportType=" + reportType + '!' + "reportName=" + reportName + '!' + "beginDate=" + beginDate + '!' + "endDate=" + endDate + '!' + "statusType=" + statusType);
             alert(url);
           window.location.href = url;

            //$.ajax({
            //    url: '@Url.Action("AddRow", "Verification")',//'@Url.Content("~/Verification/AddRow")',
            //    type: 'GET',
            //     contentType: 'application/json; charset=utf-8',
            //    data: {
            //        fullName: name,
            //        title: t,
            //        homeBranch: branch
            //    },

            //    success: function (result) {
            //       //$('#ViewResult').html(result);
            //    }
            //});

            return true;
        });
    </script>


    <!-- CLLS -->
    <script type="text/javascript">
        $('#RunReportLink_CLLS').click(function (value) {
            alert("RunReportLink_CLLS");
        });
    </script>
}

====================================   *@